import customScript from "./customScript.js";

<app-layout>
  <@head>
    <title>Test App</title>
  </@head>
  <@body>
  <p>${customScript()}</p>
    <h1>
      Hello World
    </h1>
  </@body>
</app-layout>
