import customScript from "./customScript.js";
import customMarko from "./customMarko.marko";

<app-layout>
  <@head>
    <title>Test App</title>
  </@head>
  <@body>
  <p>${customScript()}</p>
  <h1>Hello World</h1>
  <customMarko/>
  <my-template />
  </@body>
</app-layout>
