<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <${input.head}/>
  </head>
  <body>
    <div class="container">
      <main id="main">
        <${input.body}/>
      </main>
    </div>
  </body>
</html>
